html {
  font-family: sans-serif;
  font-size: 20px;
  color: #eee;
  background-color: #333;
}

body {
  max-width: 1000px;
  margin: auto;
  padding-top: 80px;
  /* background-color: #222; */
  background: linear-gradient(90deg, #333, #2a2a2a 5%, #2a2a2a 95%, #333);
}

canvas {
  display: block;
  margin: auto;
  margin-bottom: 80px;
  padding: 3px;
  background-color: #222;
}

a {
  color: #ff8f8f;
}

footer {
  font-size: 18px;
  text-align: right;
  margin-top: 50px;
  padding-bottom: 30px;
  margin-right: 60px;
  clear: right;
}

#container {
  margin: auto;
  position: relative;
  width: 800px;
  height: 600px;
}

#retry {
  z-index: 10000;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

#retry.hidden {
  display: none;
}

#retry img {
  width: 200px;
}

#retry img:hover {
  transform: scale(1.1);
}